@use '../../assets/sass/variables.scss' as *;
@use '../../assets/sass/mixins.scss' as m;
@use '../../assets/sass/functions.scss' as f;

.podcast-list {
    @include m.grid($gc: repeat(4, minmax(0, 1fr)), $gg: f.em(24));

    &__item {
        @include m.position(relative);

        border-radius: f.em(8);
        box-shadow: $box-shadow;
        margin-top: f.em(52);

        background-color: $color-white;

        &__link {
            @include m.flex($fd: column, $ai: center, $jc: center);

            height: 100%;
            padding: (f.em(52) + f.em(16)) f.em(16) f.em(16);

            text-decoration: none;

            .link {
                &__image {
                    @include m.position(absolute, $b: calc(100% - #{f.em(52)}));
                    width: f.em(104);
                    height: f.em(104);
                    border-radius: f.em(104);
                }

                &__title {
                    @include m.line-clamp($l: 3);

                    margin-bottom: f.em(8);

                    color: $color-black;

                    font-size: f.em(16);
                    font-weight: 600;
                    text-align: center;
                    text-transform: uppercase;
                }

                &__author {
                    margin-top: auto;

                    color: $color-gray;

                    font-size: f.em(14);
                    text-align: center;
                }
            }
        }
    }
}