@use '../../assets/sass/variables.scss' as *;
@use '../../assets/sass/mixins.scss' as m;
@use '../../assets/sass/functions.scss' as f;

.filter {
    @include m.grid($gc: minmax(0, 2fr) minmax(0, 3fr), $gg: f.em(24));

    &__input {
        display: inline-block;
        width: 100%;
        height: f.em(40);
        padding: f.em(8) f.em(12);
        margin: 0 0 f.em(32);
        border: solid f.em(1) $color-gray;
        border-radius: f.em(8);

        font-family: $font-family;
        font-size: f.em(16);
    }

    &__results {
        @include m.flex($ai: center, $jc: center);
        @include m.flex-child($js: end);

        width: f.em(80);
        height: f.em(40);
        border-radius: f.em(8);
        justify-items: right;

        color: $color-white;
        background-color: $color-blue;

        font-weight: 700;
    }
}