@use '../assets/sass/variables.scss' as *;
@use '../assets/sass/mixins.scss' as m;
@use '../assets/sass/functions.scss' as f;

.header {
    @include m.container;
    @include m.flex($ai: center, $jc: space-between);

    margin: {
        top: f.em(24);
        bottom: f.em(32);
    }

    ;
    border-bottom: solid f.em(1) $color-gray;

    &__title {
        font-size: f.em(24);

        &__link {
            @include m.flex($ai: center);

            margin-bottom: f.em(12);

            color: $color-blue;

            font-weight: 700;
            text-decoration: none;

            transition: $transition;

            &:hover {
                color: darken($color-blue, 16%);
            }
        }
    }

    &__loader {
        width: f.em(48);
    }
}

.main {
    @include m.container;
    margin-bottom: f.em(80);

    &__grid--in-layout {
        @include m.grid ($gc: minmax(0, 1fr) minmax(0, 3fr), $gg: f.em(24));
    }
}